.hidden{display:none;}
h1,h2,h3,h4,h5,h6{}
p{}
a{text-decoration: none;}
label{display: block;}
label input, label select{display: inline-block; width: 100%;}

label input.half, label select.half{width: 50%;}